<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingrese sus Datos</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <form action="/permanente" method="POST">
        <h2>Ingrese sus Datos</h2>
        <div class="section">
            <div class="title">DPI</div>
            <div class="field"><input type="text" id="dpi" name="dpi"></div>
        </div>
        <div class="section">
            <div class="title">NIP</div>
            <div class="field"><input type="text" id="nip" name="nip"></div>
        </div>
        <div class="section">
            <div class="title">Primer Nombre</div>
            <div class="field"><input type="text" id="Primer Nombre" name="Primer Nombre"></div>
        </div>
        <div class="section">
            <div class="title">Segundo Nombre</div>
            <div class="field"><input type="text" id="Segundo Nombre" name="Segundo Nombre"></div>
        </div>
        <div class="section">
            <div class="title">Primer Apellido</div>
            <div class="field"><input type="text" id="Primer apellido" name="Primer apellido"></div>
        </div>
        <div class="section">
            <div class="title">Segundo Apellido</div>
            <div class="field"><input type="text" id="Segundo apellido" name="Segundo apellido"></div>
        </div>
        <div class="section">
            <div class="title">Fecha de Nacimiento</div>
            <div class="field"><input type="date" id="fecha" name="fecha"></div>
        </div>
        <div class="section">
            <div class="title">Apellido de casado(a)</div>
            <div class="field"><input type="text" id="Apellidocasada" name="Apellidocasada"></div>
        </div>
        <div class="section">
            <div class="title">Puesto Nominal</div>
            <div class="field"><input type="text" id="Pnominal" name="Pnominal"></div>
        </div>
        <div class="section">
            <div class="title">Puesto Funcional</div>
            <div class="field"><input type="text" id="Pfuncional" name="Pfuncional"></div>
        </div>
        <div class="section">
            <div class="title">Departamento, área, unidad, sección o subsede donde labora</div>
            <div class="field"><input type="text" id="labora" name="labora"></div>
        </div>
        <div class="section">
            <div class="title">Email institucional</div>
            <div class="field"><input type="text" id="EmailI" name="EmailI"></div>
        </div>
        <div class="section">
            <div class="title">Email personal</div>
            <div class="field"><input type="text" id="EmailP" name="EmailP"></div>
        </div>
        <div class="section">
            <div class="title">Teléfono de casa</div>
            <div class="field"><input type="text" id="TelCasa" name="TelCasa"></div>
        </div>
        <div class="section">
            <div class="title">Teléfono celular</div>
            <div class="field"><input type="text" id="TelCelular" name="TelCelular"></div>
        </div>

        <div class="section">
            <div class="button"> <input type="submit" value="Enviar"></div>
            <div class="button"> <a href="employeeTemp.html">Empleados Temporales</a></div>
        </div>

    </form>

</body>

</html>