<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Temporal</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <form action="/Temporal" method="POST">
        <h2>Ingrese sus Datos</h2>
        <div class="section">
            <div class="title">Nombre</div>
            <div class="field"><input type="text" id="nombre" name="nombre"></div>
        </div>
        <div class="section">
            <div class="title">Puesto</div>
            <div class="field"><input type="text" id="puesto" name="puesto"></div>
        </div>
        <div class="section">
            <div class="title">Lugar de ingreso</div>
            <div class="field"><input type="text" id="lugar" name="lugar"></div>
        </div>
        <div class="section">
            <div class="title">Fecha de ingreso</div>
            <div class="field"><input type="date" id="fecha" name="fecha"></div>
        </div>
        <div class="section">
            <div class="title">Teléfono</div>
            <div class="field"><input type="text" id="telefono" name="telefono"></div>
        </div>
        <div class="section">
            <div class="button"> <input type="submit" value="Enviar"></div>
            <div class="button"> <a href="EmpleadosPermanentes.html">Empleados Permanentes</a></div>
        </div>

    </form>


</body>

</html>